.total-expense {
  background-color: white;
  margin-top: 25px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.total-expense h2 {
  color: #28a745;
  margin-bottom: 10px;
}

.total-expense h3 {
  color: #2c3e50;
}